---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import WhyNow from "@/components/WhyNow.astro";
import Program from "@/components/Program.astro";
import UseCases from "@/components/UseCases.astro";
import PrivatePreview from "@/components/PrivatePreview.astro";
import Experience from "@/components/Experience.astro";
import ApplicationForm from "@/components/ApplicationForm.astro";
import Faq from "@/components/Faq.astro";
import Footer from "@/components/Footer.astro";

const baseUrl =
  import.meta.env.PUBLIC_BASE_URL ||
  (Astro.request.headers.get("x-forwarded-proto") ?? "https") +
    "://" +
    (Astro.request.headers.get("x-forwarded-host") ??
      Astro.request.headers.get("host") ??
      "");
---

<Layout baseUrl={baseUrl}>
  <Header />
  <main id="main">
    <Hero />
    <WhyNow />
    <Program />
    <UseCases />
    <PrivatePreview />
    <Experience />
    <ApplicationForm />
    <Faq />
  </main>
  <Footer />
</Layout>
